*.h5
*.swp
.cache
.gdb_history
.vscode
__pycache__
\#*\#
build
build-*.sh
doc/*/*.aux
doc/*/*.bcf
doc/*/*.blg
doc/*/*.log
doc/*/*.nav
doc/*/*.out
doc/*/*.pdf
doc/*/*.run.xml
doc/*/*.snm
doc/*/*.toc
doc/*/*/*.aux
doc/*/*/*.bcf
doc/*/*/*.blg
doc/*/*/*.log
doc/*/*/*.nav
doc/*/*/*.out
doc/*/*/*.pdf
doc/*/*/*.run.xml
doc/*/*/*.snm
doc/*/*/*.toc
doc/notes/pdf
doc/sphinx/build
petsc_matrix
petsc_matrix.info
src/Atomics/adasdata.cpp
tools/cache
examples/Ida/*
