*.h5
.gdb_history
.vscode
__pycache__
build
doc/notes/*.aux
doc/notes/*.bcf
doc/notes/*.blg
doc/notes/*.log
doc/notes/*.out
doc/notes/*.pdf
doc/notes/*.run.xml
doc/notes/*.toc
doc/sphinx/build
petsc_matrix
petsc_matrix.info
src/Atomics/adasdata.cpp
tools/cache
